* {
    margin: 0;
    padding: 0;
  }
  body{
    background: linear-gradient(90deg, #000000, #181616, #ff0000);
    background-size: 150% 150%;
    animation: colors 15s ease infinite;
  }

  @keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;
    }


  }
  .cab {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    margin: 5% 0% 0% 0%;
    font-size: 80px;
    color: red;
  }
  .btnSection {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    text-decoration: none;
    margin: auto;
    padding: 5% 0% 5% 0%;
  }
  .btnMain{
    background-color: black;
    color: white;
    border-color: white;
    text-decoration: none;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;
    transition: width 2s;
  }

  .btnMain:hover {
    width: 300px;
    color: red;
    border-color: red;
  }



  @keyframes animationbutton {
    from {
        color: rgb(255, 255, 255);
        border-color: white;
    }
    to {
        color: red;
        border-color: red;
    }
  }

  .title {
    text-decoration: underline red;
  }

  footer{
    display: flex;
    margin: 10% 0% 0% 0%;
    justify-content: center;
    color: white;
  }
  .text{
    color: white;
  }  
  .bodySeries{
    background-color: rgb(0, 0, 0);
  }
  .boxmodelSerie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 10% 2% 15%;
    background-color: black;
    width: 70%;
    height: 50%;
    border-radius: 15px;
    padding: 5px;
    border: 3px solid red;
  }
  .perguntaSerie{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .respostaSerie{
    color: red;
    margin: 1% 0% 0% 3%;
    font-size: 15px;
  }
  .sectionbtnResultSerie{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  .btnResSerie{
    font-size:15px;
    font-family:Arial;
    width: 260px;
    height:35px;
    border-width:1px;
    color:white;
    font-weight:bold;
    border-radius: 5%;
    background-color: black;
    border-color: white;
  }

  .btnResSerie:hover {
    color: red;
    border-color: red;
  }

  .btnJogarDeNovo{
    background-color: white;
    color: black;
    border-color: black;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
  }
  .secJgNv{
    display: flex;
    justify-content: flex-start;
    padding: 0% 0% 0% 5%;
  }
  
  .bodyFilmes{
    background-color: rgb(0, 0, 0);
  }
  .boxmodel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 10% 2% 15%;
    background-color: black;
    width: 70%;
    height: 50%;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid red;
  }
  .perg{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .res{
    color: red;
    margin: 1% 0% 0% 3%;
    font-size: 13px;
  }
  .secRes{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  .btnres{
    font-size:15px;
    font-family:Arial;
    width:260px;
    height:35px;
    border-width:1px;
    color:white;
    font-weight:bold;
    border-radius: 5px;
    background-color: black;
    border-color: white;
  }
  .btnjogardenovo{
    background-color: white;
    border-color: black;
    color: black;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    font-weight: bold;
  }